.collection{
  padding-top: 1rem;
  overflow: hidden;
}

.collection__title{
  margin: 0 auto;
  width: 91vw;
  padding: 0 1rem 1.3rem;
  
  font-size: 1.9rem;
  font-weight: normal;
  letter-spacing: .1rem;
}

.movie-carousel{
  display: flex;
  position: relative;
  align-items: center;
}

.movie-carousel__list{
  display: flex;
  
}

.movie-carousel__item{
  width: calc(91vw / 5);
  padding: 0 1rem 2.5rem;
  opacity: .5;
}

.movie-carousel__item.active{
  opacity: 1;
}

.movie-carousel__link{
  display: block;
  position: relative;
}

.movie-carousel__link::before{
  content: '';
  border: .4rem solid rgba(255, 255, 255, 0);
  border-radius: .3rem;
  position: absolute;
  /* para combrir toda a área fazemos... */
  /* left: 0;
  top: 0;
  right: 0;
  bottom: 0; */
  /* Basta colocar a propriedade inset*/
  inset: 0;

  transition: border .3s;
}

.movie-carousel__link:hover::before{
  border-color:rgba(255, 255, 255, .7);
}


.movie-carousel__link:hover{
  transform: scale(1.05);
}

.movie-carousel__cover{
  border-radius: .3rem;
  width: 100%;
  box-shadow: #0f1119 0rem 2rem 2rem -1rem;
}

.movie-carousel .arrow-slider{
  position: absolute;
  z-index: 2;
  height: 100%;
  margin-top: -2.5rem;
  opacity: 0;
  transition: opacity .3s;
}

.movie-carousel .arrow-slider:hover{
  opacity: 1;
}

.movie-carousel .arrow-slider--left{
  padding: 0 3.6rem;
  left: 0; 
}

.movie-carousel .arrow-slider--right{
  padding: 0 3.6rem;
  right: 0rem;
}

@media screen and (max-width:1024px){
  .collection__title{
    width: 85vw;
  }
  .movie-carousel__item{
    width: calc(85vw / 2);
  }
  .movie-carousel .arrow-slider--left{
    left: 0;
    padding: 0 1rem; 
  }
  
  .movie-carousel .arrow-slider--right{
    padding: 0 1rem;
    right: 0;
  }

  .collection{
    padding-top: 0;
  }
}